/*----------------- navbar style ------------------- */
.nav-item:hover .dropdown-menu {
  display: block;
}
/* banner page style  */
.Chile-section_banner {
  background-image: url(../Image/gallery2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/* footer style  */
.footer_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbcc8f;
}
