/*----------------- navbar style ------------------- */
.nav-item:hover .dropdown-menu {
  display: block;
}
/* banner page style  */
.Chile-section_banner {
  background-image: url(../Image/gallery2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.info {
  width: 255px;
  height: 145px;
}

.contact_section {
  background-color: #f8f9fa;
}
.error_page_side {
  width: 540px;
  height: 555px;
  background-color: #e8eaed;
}

textarea {
  resize: none;
}

.form-control {
  height: 52px;
}

#send_message_btn {
  background-color: #dbcc8f;
  color: white;
  border-radius: 40px;
  transition: all 0.2s;
}
#send_message_btn:hover {
  background-color: white;
  color: #dbcc8f;
  border: #dbcc8f 1px solid;
}
/* footer style  */
.footer_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbcc8f;
}
