/*----------------- navbar style ------------------- */
.nav-item:hover .dropdown-menu {
  display: block;
}
/*----------------- Hero section style ------------------- */
#banner_background {
  width: 100%;
  height: 100vh;
  background-color: #dbcc8f;
}
#banner_text_side {
  top: 30%;
  left: 0%;
  z-index: 1;
}
#banner_img_side {
  top: 15%;
  right: 0;
}
/*for medium screen*/
@media only screen and (max-width: 992px) {
  #banner_text_side {
    top: 30%;
    left: 0%;
    z-index: 1;
  }
  #banner_img_side {
    top: 30%;
    right: 0;
  }
  #banner_background {
    width: 100%;
    height: 100vh;
    background-color: #dbcc8f;
  }
}
/* for small screen*/
@media only screen and (max-width: 767px) {
  #banner_text_side {
    top: 30%;
    left: 0%;
    z-index: 1;
  }
  #banner_img_side {
    top: 0%;
    right: 0;
  }
  #banner_background {
    width: 100%;
    height: 100vh;
    background-color: #dbcc8f;
  }
}
@media only screen and (max-width: 600px) {
  #banner_text_side {
    top: 30%;
    left: 0%;
    z-index: 1;
  }
  #banner_img_side {
    top: 20%;
    right: 0;
  }
  #banner_background {
    width: 100%;
    height: 100vh;
    background-color: #dbcc8f;
  }
}
@media only screen and (min-width: 1200px) {
  #banner_text_side {
    top: 30%;
    left: 0%;
    z-index: 1;
  }
  #banner_img_side {
    top: 20%;
    right: 0;
  }
  #banner_background {
    width: 100%;
    height: 100vh;
    background-color: #dbcc8f;
  }
}
/* -----------------------service------------------- */
.service_container {
  border-radius: 10px;
}
.overlay {
  height: 0;
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
  z-index: -1;
}
.button_service {
  background-color: #dbcc8f;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
}
.service_container:hover .button_service {
  color: #dbcc8f;
  background-color: white;
  transition: all 0.9s;
}
.service_container:hover .button_service:hover {
  color: #dbcc8f;
  background-color: black;
}
.service_container:hover .overlay {
  height: 100%;
  background-color: #dbcc8f;
}
/* ----------------------review section-----------------------  */
.Review_img {
  border: #dbcc8f 2px solid;
}
.review_profile1 {
  background-image: url(/Coffee-Shop/Image/person1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile1 {
  background-image: url(/Coffee-Shop/Image/person1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile2 {
  background-image: url(/Coffee-Shop/Image/person2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile3 {
  background-image: url(/Coffee-Shop/Image/person3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile4 {
  background-image: url(/Coffee-Shop/Image/person4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile5 {
  background-image: url(/Coffee-Shop/Image/person5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.review_profile_symbol {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(3px, 3px);
  width: 40px;
  height: 40px;
  color: #dbcc8f;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.line {
  width: 4px;
  height: 20px;
  border-left: 2px solid #dbcc8f;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dbcc8f !important;
}
.owl-dots {
  display: flex;
  align-self: start;
}
.fa-star,
.fa-star-half-stroke {
  font-size: small;
  color: #ffdf00;
}
/* gallery section  */
.image-source-link {
  color: #98c3d1;
}
.mfp-title {
  display: none;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*  product section  */
.card-img {
  transition: all 0.5s;
  cursor: pointer;
}
.food_card:hover .card-img {
  transform: scale(1.1);
}
/* footer style  */
.footer_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbcc8f;
}
/* animation  */
